@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

body {
padding: 0px;
margin: 0px;
/* background-image: url("images/background.db0c33d71c02.jpg"); */
}

.topnav {
    overflow: hidden;
    background-color: #f2f2f2;
  }
  
  .topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  
  .result_container {
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    font-size: 1.5rem;

    font-family: 'Montserrat', sans-serif;

  }
  .results_title {
    border-bottom-style: solid;
    border-bottom-color: coral;
  }
  .correct_to_total{
 
  }
  .accuracy_good {
    color: #04AA6D;
  }
  .accuracy_bad{
color: crimson;  }

.option_buttons{
    margin-left: 25%;
    margin-right: 25%;
}