<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'quiz/single_quiz.css' %}">

    <meta charset="UTF-8">
    <title>Single Quiz</title>
</head>

<body>
    {% include 'quiz/navbar.html' %}


    <div class="full_container">
       
        <h1 class="quiz_title">{{ quiz.quiz_title }}</h1>

        <h4 class="num_questions">{{ num_questions }} Questions</h4>
        <div class="home_button">
            <a  href="{% url 'quiz:candidate_update' quiz.id 1 token %}">Start candidate</a>

            candidate_update
        </div>


    </div>

</body>

</html>