<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'quiz/single_question.css' %}">

  <meta charset="UTF-8">
  <title>Skill Ninja</title>
</head>

<body>
  <button id="post">next</button>
<p  id="csrf">{{ csrf_token }}</p>
  <div class="full_container">

    <h2 class="question_title">{{ current_question.question_text }}</h2>

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <ul id="q_options">
      {% for choice in current_question.choice_set.all %}
      <li id="{{ choice.id }}">
        {{ choice.choice_text }}
      </li>
      {% endfor %}
    </ul>
            
  </div>




</body>
<script defer>
  // const mydata = JSON.parse(document.getElementById('gem').textContent);
  // document.getElementById("csrf").style.display="none";
  // document.getElementById("csrf").value 
  var csrftoken = '{{ csrf_token }}'

  var selected_choice=""
  const ul = document.getElementById('q_options');
  const listItems = ul.getElementsByTagName('li');
  // Loop through the NodeList object.
  for (let i = 0; i <= listItems.length - 1; i++) {
      // console.log (listItems[i]);
      listItems[i].addEventListener('click', () => {
    console.log("clicked "+i)
    console.log(selected_choice)
    console.log(listItems[i].id);
    selected_choice=listItems[i].id
    
  })
  }
  document.getElementById('post').onclick = () => {
                const requestObj = new XMLHttpRequest()
                requestObj.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        console.log(this.responseText)
                    }
                }

                requestObj.open("POST", "{% url 'quiz:vote' quiz.id current_question.question_num %}")
                requestObj.setRequestHeader("X-CSRFToken", csrftoken)

                const formdata = new FormData()
                formdata.append('choice', selected_choice)
                requestObj.send(formdata)
            }
  
  </script>
</html>